<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/index.css">
</head>
<body>
    <div id="app">
        <nav class="flex">
            <div class="left">
                <a href="/">首页</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
            </div>
            <div class="right">
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </nav>
        <header>
            <div class="slogan center">
                <div class="title">
                    114514
                </div>
                <p>amns</p>
            </div>
            <div class="banner">
                <img src="http://image.fengfengzhidao.com/gvb_1009/20231123092743__1123-h.png" alt="">
                <img src="http://image.fengfengzhidao.com/gvb_1009/20231123092743__1123-i.png" alt="">
                <img src="http://image.fengfengzhidao.com/gvb_1009/20231019173356__wallhaven-jxl31y.png" alt="">
                <img src="http://image.fengfengzhidao.com/gvb_1009/20231019173356__wallhaven-57yr13.jpg" alt="">
                <img src="http://image.fengfengzhidao.com/gvb_1009/20231123092743__1123-c.png" alt="">
            </div>
        </header>
        <main class="flex">
            <div class="main flex">
                <div class="left">
                    <div class="card">
                        <div class="title">
                            精选文章
                        </div>
                        <div class="body">
                            内容
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="card">
                        <div class="title">
                            独家广告
                        </div>
                        <div class="body">
                            内容
                        </div>
                    </div>
                    <div class="card">
                        <div class="title">
                            标签云
                        </div>
                        <div class="body">
                            内容
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="flex">
            <div class="left center">
                <p>建站日期：114514</p>
            </div>
            <div class="right center">
                <p>联系我吧</p>
            </div>
        </footer>
    </div>
</body>
</html>
