<!DOCTYPE html>
{% load my_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
         <title>首页</title>
    {% endblock %}
    
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/base.css">
    {% block css %}
        <link rel="stylesheet" href="/static/my/css/index.css">
    {% endblock %}
    <link rel="stylesheet" href="/static/node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">

</head>
<body>
    <div id="app">
    {% block body %}
    	<nav class="flex">
            <div class="left">
                <a href="/">首页</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
                <a href="#">其他</a>
            </div>
            <div class="right">
                <a href="/login/">登录</a>
                <a href="/sign/">注册</a>
            </div>
        </nav>
        {%block header %}
          {% banner 'index' %}
        {% endblock %}
    
        {% csrf_token %} }
        {% block main %}
           <main class="flex">
            {%  block content %}
            <div class="main flex">
                <div class="left">
                    <div class="card">
                        <div class="title">
                            精选文章
                        </div>
                        <div class="body">
                            <el-button type="primary">按钮</el-button>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="card">
                        <div class="title">
                            独家广告
                        </div>
                        <div class="body">
                            内容
                        </div>
                    </div>
                    <div class="card">
                        <div class="title">
                            标签云
                        </div>
                        <div class="body">
                            内容
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            
        </main> 
        {% endblock %}
        
        <footer class="flex">
            <div class="left center">
                <p>建站日期：114514</p>
            </div>
            <div class="right center">
                <p>联系我吧</p>
            </div>
        </footer>
    {% endblock %}
</div>

{% block all_js %}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/node_modules/vue/dist/vue.js"></script>
    <script src="/static/node_modules/axios/dist/axios.js"></script>
    <script src="/static/node_modules/element-ui/lib/index.js"></script>

    <script>
        //axios
        axios.interceptors.request.use(request => {
            if(request.methods !== 'get') {
                let csrf_token = document.querySelector('[name="csrfmiddlewaretoken"]').value
                request.headers['X-CSRFToken'] = csrf_token
                return request
            }
        })
        //axios_r
        axios.interceptors.response.use(response => {
            return response.data
        })
        
        var vue = new Vue({
            el: '#app',
            data: {
                login_form: {
                    name: '',
                    pwd: '',
                    re_pwd: '',
                    code: '',
                    
                }
            },
            methods: {
                login(){
                    axios.post('/api/login/',this.login_form,).then(res => {
                        if(res.code){
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.href = '/'
                        },1000)
                    })
                }
            }
        })
    </script>
    
    <script>
        function init_banner() {
            let banner = $('#banner');
            let img_list = banner.children();
            let len = img_list.length;
            if (len <= 1) return;

            let index = 0;
            let time = Number(banner.attr('banner_time')) || 6;

            setInterval(() => {
                index++;
                if (index >= len) index = 0;
                img_list.css({opacity: 0});
                img_list[index].style.opacity = 1;
            }, time * 1000);

            console.log(time);
        }
        init_banner();
    </script>
{% endblock %}

</body>
</html>
